%div.comments
  %h3 Comments
  - @gem.gem_comments.each do |comment|
    %div.well
      %label Name: #{comment.name}
      %label Email: #{comment.email}
      - if comment.want_it
        %div.alert.alert-success= comment.description
      %label Comment:
      %div.comments.text #{comment.text}
