%h1 About
%p IsItFedoraRuby is a web-application for keeping track of the Fedora/Ruby intergration, especially gem->rpm conversion, documentation, and success stories.
%p This site is a Rails application wich running by Morsi.
%p The project was started on 2012 as a Google Summer Of code Project by Mo Morsi,and it is growing to include Ruby Special Interest Group.
%h3 Ruby Special Interest Group
%p A SIG for people who are interested in improving the state of Ruby in Fedora. This includes packaging Ruby libraries and applications, setting and improving standards for packaging them as RPM's and maintaining Ruby packages for Fedora.
%h3 Please Contribute!
%p As this project is still in its early stage, please feel free to contribute any code or ideas to make it better.

