%h1 About
= image_tag('http://openclipart.org/people/gblas.ivan/rubi.svg', :size => '100x120')
%p IsItFedoraRuby is a web-application(a Rails application) for keeping track of the Fedora/Ruby intergration, especially gem->rpm conversion, documentation, and success stories.
%p 
      The project was started on 2012 as a 
 
      = link_to 'Google Summer Of Code project', 'https://fedoraproject.org/wiki/GSOC_2012/Student_Application_Zuhao/IsItFedoraRuby'
      by Zuhao ,and it is growing to include Ruby Special Interest Group.
%h3 Ruby Special Interest Group
%p A SIG for people who are interested in improving the state of Ruby in Fedora. This includes packaging Ruby libraries and applications, setting and improving standards for packaging them as RPM's and maintaining Ruby packages for Fedora.
%p Packaging Ruby libraries and applications for Fedora is an ongoing process. We hope that this situation will improve dramatically over the next few months; that means that you, dear reader, can become a hero by packaging your favorite piece of Ruby code as an RPM and submitting it to Fedora .
%h3 Please Contribute!
%p As this project is still in its early stage, please feel free to contribute any code or ideas to make it better.
 
%p
      For more info, please check out the
      = link_to 'code', 'http://github.com/zuhao/isitfedoraruby'
      , or visit
      = link_to 'Ruby SIG', 'https://fedoraproject.org/wiki/Ruby_SIG'
      wiki page. 