/coverage/
/.bundle
/log/*.log
/tmp
/temp_resource
*.sw[po]
*~
nohup.out
.project
.DS_Store
db/*sqlite3
Gemfile.lock
.idea
vendor/bundle
vendor/rails
config/unicorn.rb
.ruby-version
.ruby-gemset
tags
