%h2 All Ruby Gems

%table
  %thead
    %tr
      %th Name
      %th Version
      %th Rpm

  %tbody
    - @gems.each do |gem|
      %tr
        %td= link_to gem.name, rubygem_path(gem.id)
        %td= gem.version
        %td= link_to 'View', fedorarpm_path(gem.fedora_rpm.id) if gem.fedora_rpm != nil