/* line 23, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 15, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.clearfix:after {
  clear: both;
}

nav, section {
  display: block;
}


/* line 31, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 37, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 41, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 48, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 54, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
sup {
  top: -0.5em;
}

/* line 57, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 64, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 72, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
#map_canvas img {
  max-width: none;
}

/* line 80, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 85, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
button, input {
  *overflow: visible;
  line-height: normal;
}

/* line 89, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 93, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 97, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 104, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 107, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 9, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_scaffolding.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: white;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_scaffolding.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_scaffolding.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 542, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row {
  margin-left: -20px;
  *zoom: 1;
}
/* line 15, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row:before, .row:after {
  display: table;
  content: "";
}
/* line 19, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row:after {
  clear: both;
}

/* line 547, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
[class*="span"] {
  float: left;
  margin-left: 20px;
}

/* line 553, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

/* line 8, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_layouts.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
/* line 15, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.container:before, .container:after {
  display: table;
  content: "";
}
/* line 19, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.container:after {
  clear: both;
}

/* line 13, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_layouts.scss */
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
/* line 15, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}
/* line 19, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.container-fluid:after {
  clear: both;
}

/* line 9, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
p {
  margin: 0 0 9px;
}
/* line 11, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
p small {
  font-size: 11px;
  color: #999999;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 32, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 37, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
h1 {
  font-size: 30px;
  line-height: 36px;
}
/* line 40, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
h1 small {
  font-size: 18px;
}



/* line 77, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

/* line 82, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
.page-header h1 {
  line-height: 1;
}

/* line 92, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

/* line 96, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* line 99, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
ul {
  list-style: disc;
}

/* line 102, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
ol {
  list-style: decimal;
}

/* line 105, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
li {
  line-height: 18px;
}

/* line 108, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
dl {
  margin-bottom: 18px;
}

/* line 117, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
dt, dd {
  line-height: 18px;
}

/* line 120, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
dt {
  font-weight: bold;
  line-height: 17px;
}

/* line 124, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
dd {
  margin-left: 9px;
}

/* line 129, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 136, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
.dl-horizontal dd {
  margin-left: 130px;
}

/* line 145, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 153, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
strong {
  font-weight: bold;
}

/* line 156, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_type.scss */
em {
  font-style: italic;
}

form {
  margin: 0 0 18px;
}

/* line 14, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}


label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

/* line 43, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 48, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
label {
  display: block;
  margin-bottom: 5px;
}

/* line 59, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

/* line 71, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
input, textarea {
  width: 210px;
}

/* line 75, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
textarea {
  height: auto;
}

/* line 81, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 89, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 98, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
input[type="radio"], input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
}

/* line 106, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: auto;
}

.input-medium {
  width: 150px;
}

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"],
.row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

/* line 193, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
  display: inline-block;
}

/* line 98, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
:-moz-placeholder {
  color: #999999;
}

/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
:-ms-input-placeholder {
  color: #999999;
}

/* line 104, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 384, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0;
}
/* line 408, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}

/* line 412, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.form-search label, .form-inline label {
  display: inline-block;
}

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
  margin-bottom: 0;
}

/* line 420, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 427, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

/* line 435, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.control-group {
  margin-bottom: 9px;
}


/* line 450, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_forms.scss */
.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}

/* line 9, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 456, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
/* line 462, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn:active, .btn.active {
  background-color: #cccccc \9;
}


/* line 32, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* line 45, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 50, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn.active, .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 110, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

/* line 116, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {

  background-color: #0073cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0055CC', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #0055cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.btn-primary:active, .btn-primary.active {
  background-color: #004099 \9;
}


button.btn, input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}


.btn-primary {
  .btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(center top , white, rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}

.nav > li {
    display: block;
    float: left;
}

.nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: rgb(153, 153, 153);
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}

.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 18px;
}

/* line 18, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* line 29, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .container {
  width: auto;
}

/* line 34, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.nav-collapse.collapse {
  height: auto;
}

/* line 40, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar {
  color: #999999;
}
/* line 43, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .brand:hover {
  text-decoration: none;
}
/* line 47, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}
/* line 60, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}
/* line 65, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .navbar-link {
  color: #999999;
}
/* line 67, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .navbar-link:hover {
  color: white;
}
/* line 72, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .btn, .navbar .btn-group {
  margin-top: 5px;
}
.navbar .btn-group .btn {
  margin: 0;
}

/* line 81, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}
/* line 15, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar-form:before, .navbar-form:after {
  display: table;
  content: "";
}
/* line 19, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar-form:after {
  clear: both;
}
/* line 84, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {
  margin-top: 5px;
}
/* line 87, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form input, .navbar-form select {
  display: inline-block;
  margin-bottom: 0;
}
/* line 91, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form input[type="image"], .navbar-form input[type="checkbox"], .navbar-form input[type="radio"] {
  margin-top: 3px;
}
/* line 94, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form .input-append, .navbar-form .input-prepend {
  margin-top: 6px;
  white-space: nowrap;
}
/* line 97, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-form .input-append input, .navbar-form .input-prepend input {
  margin-top: 0;
}

/* line 104, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}
/* line 109, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: white;
  background-color: #626262;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 85, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
/* line 88, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
/* line 91, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 128, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background-color: white;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}

/* line 146, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

/* line 153, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 159, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

/* line 164, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-top {
  top: 0;
}

/* line 167, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-fixed-bottom {
  bottom: 0;
}

/* line 174, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

/* line 181, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav.pull-right {
  float: right;
}

/* line 184, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav > li {
  display: block;
  float: left;
}

/* line 190, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 201, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 5px 5px 6px;
  line-height: 18px;
}

/* line 216, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

/* line 223, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: white;
  text-decoration: none;
  background-color: #222222;
}

/* line 230, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}

/* line 240, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}

/* line 247, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #222222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
/* line 456, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
/* line 462, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.navbar .btn-navbar:active, .navbar .btn-navbar.active {
  background-color: #090909 \9;
}

/* line 313, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: white;
  border-bottom-color: white;
}


/* line 37, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_labels-badges.scss */
.label-important, .badge-important {
  background-color: #b94a48;
}

/* line 5, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_utilities.scss */
.pull-right {
  float: right;
}

/* line 8, ../../../../../usr/lib/ruby/gems/1.8/gems/bootstrap-sass-2.0.4.2/vendor/assets/stylesheets/bootstrap/_utilities.scss */
.pull-left {
  float: left;
}


html {
  overflow-y: scroll;
}

/* line 13, ../../app/assets/stylesheets/custom.css.scss */
body {
  padding-top: 60px;
}

/* line 17, ../../app/assets/stylesheets/custom.css.scss */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* line 22, ../../app/assets/stylesheets/custom.css.scss */
.error {
  color: red;
}

/* line 26, ../../app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 30, ../../app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
  width: 400px;
  height: 200px;
}

/* line 36, ../../app/assets/stylesheets/custom.css.scss */
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 42, ../../app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}
/* line 44, ../../app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* line 49, ../../app/assets/stylesheets/custom.css.scss */
.form-search {
  margin-bottom: 0px;
  margin-left: 20px;
}

/* typography */
/* line 56, ../../app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 60, ../../app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 67, ../../app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999999;
}

/* line 76, ../../app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* line 81, ../../app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
/* line 91, ../../app/assets/stylesheets/custom.css.scss */
#logo:hover {
  color: white;
  text-decoration: none;
}

/* header */
/* footer */
/* line 101, ../../app/assets/stylesheets/custom.css.scss */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}
/* line 106, ../../app/assets/stylesheets/custom.css.scss */
footer a {
  color: #555555;
}
/* line 108, ../../app/assets/stylesheets/custom.css.scss */
footer a:hover {
  color: #222222;
}
/* line 112, ../../app/assets/stylesheets/custom.css.scss */
footer small {
  float: left;
}
/* line 115, ../../app/assets/stylesheets/custom.css.scss */
footer ul {
  float: right;
  list-style: none;
}
/* line 118, ../../app/assets/stylesheets/custom.css.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* table */
/* line 127, ../../app/assets/stylesheets/custom.css.scss */
table {
  width: 100%;
  border: 1px solid #999999;
  table-layout: auto;
}

/* line 133, ../../app/assets/stylesheets/custom.css.scss */
th, td {
  border-right: 1px solid #999999;
  padding-right: 5px;
  white-space: nowrap;
}

/* line 139, ../../app/assets/stylesheets/custom.css.scss */
.dependency {
  width: 450px;
}

/* comments */
/* line 145, ../../app/assets/stylesheets/custom.css.scss */
.new.comment {
  padding-top: 10px;
}
/* line 147, ../../app/assets/stylesheets/custom.css.scss */
.new.comment h3 {
  margin-bottom: 20px;
}

/* line 152, ../../app/assets/stylesheets/custom.css.scss */
.well {
  width: 420px;
}

/* line 156, ../../app/assets/stylesheets/custom.css.scss */
.comments {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 159, ../../app/assets/stylesheets/custom.css.scss */
.comments .text {
  overflow-x: scroll;
}
/* line 162, ../../app/assets/stylesheets/custom.css.scss */
.comments h3 {
  margin-bottom: 20px;
}

/* miscellaneous */
/* line 170, ../../app/assets/stylesheets/custom.css.scss */
.label.label-info a {
  color: white;
}

/* line 175, ../../app/assets/stylesheets/custom.css.scss */
.progress {
  width: 200px;
}

/* line 180, ../../app/assets/stylesheets/custom.css.scss */
.stats h2 {
  color: #222222;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

/* line 187, ../../app/assets/stylesheets/custom.css.scss */
.gemfile_input_container {
  margin-top: 10px;
}

/* line 191, ../../app/assets/stylesheets/custom.css.scss */
.gemfile_tool_result_success {
  color: green;
  display: block;
}

/* line 196, ../../app/assets/stylesheets/custom.css.scss */
.gemfile_tool_result_fail {
  color: red;
  display: block;
}


