!!!
%html
  %head
    %title Is It Fedora Ruby

  %body
    %h1 Is It Fedora Ruby

    %p= link_to 'Ruby gems', rubygems_path
    %p= link_to 'Fedora rpms', fedorarpms_path
    %p= link_to 'Success Stories', successes_path
    %p= link_to 'Contribute', contribute_path