%h1 All Fedora Rpms

/ %div
/   = form_for :fedora_rpm, :method => :get do |f|
/     = f.text_field :search, :value => params[:search].blank? ? 'rpm search' : params[:search], :onfocus => "if (this.value == 'rpm search') {this.value = ''}"
/     = f.submit "Search Rpm", :name => nil

%table
  %thead
    %tr
      %th Name
      %th Versions
      %th Gem

  %tbody
    - @rpms.each do |rpm|
      %tr
        %td= link_to rpm.name, fedorarpm_path(rpm.id)
        %td= rpm.versions
        %td= link_to 'View', rubygem_path(rpm.ruby_gem.id) if rpm.ruby_gem != nil

%div.pagination
  = will_paginate @rpms
