@import 'bootstrap';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 400px;
  height: 200px;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.form-search {
  margin-bottom: 0px;
  margin-left: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* table */

table {
  width: 100%;
  border: 1px solid $grayLight;
  table-layout: auto;
}

th, td {
  border-right: 1px solid $grayLight;
  padding-right: 5px;
  white-space: nowrap;
}

.dependency {
  width: 450px;
}

/* comments */

.new.comment {
  padding-top: 10px;
  h3 {
    margin-bottom: 20px;
  }
}

.well {
  width: 420px;
}

.comments {
  padding-top: 20px;
  padding-bottom: 20px;
  .text {
    overflow-x: scroll;
  }
  h3 {
    margin-bottom: 20px;
  }
}

/* miscellaneous */

.label.label-info {
  a {
    color: white;
  }
}

.progress {
  width: 200px;
}