@import 'bootstrap';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.error{
  color: red;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 400px;
  height: 200px;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.form-search {
  margin-bottom: 0px;
  margin-left: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* table

table {
  width: 100%;
  border: 1px solid $gray-light;
  table-layout: auto;
}

th, td {
  border-right: 1px solid $gray-light;
  padding-right: 5px;
  white-space: nowrap;
}

.dependency {
  width: 450px;
}
*/
/* comments */

.new.comment {
  padding-top: 10px;
  h3 {
    margin-bottom: 20px;
  }
}

.comments {
  padding-top: 20px;
  padding-bottom: 20px;
  .text {
    overflow-x: scroll;
  }
  h3 {
    margin-bottom: 20px;
  }
}

/* miscellaneous */

.label.label-info {
  a {
    color: white;
  }
}

.progress {
  width: 200px;
}

.stats {
  h2 {
    color: $gray-darker;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }
}

.gemfile_input_container {
  margin-top: 10px;
}

.gemfile_tool_result_success {
  color: green;
  display: block;
}

.gemfile_tool_result_fail {
  color: red;
  display: block;
}

.alert {
  width: 350px;
}

.typeahead,
.tt-query {
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.tt-hint {
  color: #999;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
  margin-top: 12px;
  padding: 2px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 1px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
