%div.stats.well
  %h2 Most popular rpms
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Rpm
        %th Upsteam
        %th Rawhide
        %th Git Commits
    %tbody
      - @popular_rpms.each do |rpm|
        %tr
          %td= link_to rpm.shortname, fedorarpm_path(rpm.name)
          %td= rpm.ruby_gem.version if rpm.ruby_gem
          %td= rpm.version_for 'rawhide'
          %td= rpm.commits
