%footer.footer
  %small
    Version
    = Git::VERSION
    @
  %small
    = link_to Git::REVISION,
      "https://github.com/axilleas/isitfedoraruby/commit/#{Git::REVISION}"
  %nav
    %ul
      %li= link_to _('Contact'), contact_path
