%footer.footer
  %small
    = link_to _('Is It Fedora Ruby on Github'), 'http://github.com/zuhao/isitfedoraruby'
  %nav
    %ul
      %li= link_to _('About'), about_path
      %li= link_to _('Contact'), '#'
